.advertising {
    background: #E0E1D9;
}

.list {
    background: rgba($color: $white-color, $alpha: .9);
    border-radius: 30px;
    padding: 25px 23px;
    display: grid;
    grid-template-columns: minmax(80px, 150px);
    grid-column-gap: 25px;
    grid-row-gap: 44px;
    align-items: center;
}

.list__img {
    grid-area: 1 / 1 / 2 / 2;
    width: 80px;
    justify-self: end;
}

.list__header {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 26px;
    font-family: $text-font;
    line-height: 1.2;
    justify-self: start;
    color: $text-color;
}

.list__text {
    grid-area: 2 / 1 / 3 / 3;
    font-size: 19px;
    line-height: 1.3;
    font-family: $text-font;
    color: $text-color;
}

@include rm(375) {
    .advertising__wrapper {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

@include rm(480) {
    .advertising__wrapper {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    
    .list {
        padding: 25px;
        grid-template-columns: minmax(80px, 150px);
    }
    
    .list__img {
        width: 80px;
    }
}

@include rm(640) {
    .list {
        padding: 30px;
        grid-template-columns: inherit;
    }
    
    .list__img {
        width: 100px;
    }

    .list__header {
        font-size: 27px;
    }

    .list__text {
        font-size: 20px;
    }
}

@include rm(768) {   
    .list__img {
        width: 120px;
    }

    .list__header {
        font-size: 28px;
    }

    .list__text {
        font-size: 21px;
    }
}

@include rm(1024) {   
    .list {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        align-items: center;
        gap: 30px;
    }
    
    .list__img {
        width: 180px;
        grid-area: 1 / 1 / 3 / 2;
        justify-self: inherit;
    }

    .list__header {
        font-size: 29px;
        grid-area: 1 / 2 / 2 / 3;
    }

    .list__text {
        font-size: 22px;
        grid-area: 2 / 2 / 3 / 3;
    }
}

@include rm(1250) {   
    .advertising__wrapper {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .list {
        gap: 0 40px;
        padding: 77px 45px;
    }
    
    .list__img {
        width: 200px;
    }

    .list__header {
        font-size: 30px;
    }

    .list__text {
        font-size: 24px;
    }
}