.promo {
    background: url(../img/promo.jpg) no-repeat center / cover;
}

.promo__wrapper {
    padding-top: 95px;
    padding-bottom: 44px;
}

.promo__inner {
  padding: 40px 15px;
  text-align: center;
  background: rgba($color: $white-color, $alpha: .85);
  margin-bottom: 44px;
}

.promo__title {
    font-size: 18px;
    line-height: 1.1;
    margin-bottom: 50px;
}

.promo__text {
    font-size: 19px;
    line-height: 1.2;
    font-family: $text-font;
}

.promo__btn {
    margin: 0 auto;
    outline: 1px solid $white-color;
}

.fixed__btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url(../img/chat.svg) no-repeat center top 13px / 70%, $white-color;
    box-shadow: 0 4px 4px rgba($color: #000000, $alpha: .25), inset 0 1px 1px rgba($color: #000000, $alpha: .20);
    position: fixed;
    right: 15px;
    bottom: 40px;
    transition: .3s transform;

    &:hover {
        transform: scale(.9);
    }
}

@include rm(375) {
    .promo__inner {
      padding: 60px 27px;
    }
    
    .promo__title {
        font-size: 20px;
    }
    
    .promo__text {
        font-size: 21px;
    }
    
    .fixed__btn {
        width: 65px;
        height: 65px;
        bottom: 10px;
    }    
}

@include rm(480) {
    .promo__wrapper {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .promo__inner {
      padding: 70px 30px;
      margin-bottom: 50px;
    }
    
    .promo__title {
        font-size: 22px;
    }
    
    .promo__text {
        font-size: 22px;
    }
    
    .fixed__btn {
        bottom: 45px;
    }    
}

@include rm(640) {
    .promo__wrapper {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .promo__inner {
      padding: 70px 40px;
      margin-bottom: 60px;
    }
    
    .promo__title {
        font-size: 24px;
    }
    
    .promo__text {
        font-size: 23px;
    } 
}

@include rm(768) {
    .promo__wrapper {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .promo__inner {
      padding: 80px 50px;
      margin-bottom: 70px;
    }
    
    .promo__title {
        font-size: 25px;
    }
    
    .promo__text {
        font-size: 24px;
    }   
}

@include rm(1024) {
    .promo__wrapper {
        padding-top: 110px;
        padding-bottom: 100px;
    }
    
    .promo__inner {
      max-width: 890px;
      width: 100%;
      margin: 0 auto 80px;
    }
    
    .promo__title {
        font-size: 26px;
    }
    
    .promo__text {
        font-size: 25px;
    } 
    
    .fixed__btn {
        width: 75px;
        height: 75px;
        background-position: center top 15px;
    }
}

@include rm(1250) {
    .promo__wrapper {
        padding-top: 110px;
        padding-bottom: 100px;
    }
    
    .promo__inner {
      padding: 90px 60px;  
      margin: 0 auto 90px;
    }
    
    .promo__title {
        font-size: 29px;
    }
    
    .fixed__btn {
        width: 85px;
        height: 85px;
        background-position: center top 17px;
        right: 45px;
    }
}

@include rm(1920) {
    .promo__wrapper {
        padding-top: 160px;
        padding-bottom: 140px;
    }
    
    .promo__inner {
      padding: 107px 70px 108px;  
      margin: 0 auto 120px;
    }

    .fixed__btn {
        width: 95px;
        height: 95px;
        background-position: center top 19px;
    }
}

@include rm(2400) {
    .promo__wrapper {
        padding-top: 240px;
        padding-bottom: 221px;
    }
}