extends settings/layout

prepend html
  - const lang = "uk";

prepend head
  - const pageTitle = "Chat Bot grade Olshanskyi";
  - const themeColor = "#ffffff";

append head

append content
  include components/header
  include components/promo
  include components/advertising

  .overlay

append scripts