section.about#about 
    .container.block.about__wrapper
        .about__inner.list 
            img(src="img/about_icon.png", class="about__img list__img", alt="")
            h3.about__header.list__header.title Наша місія
            p.about__text.list__text Щоб ви йшли не тільки здоровіше, а й з думкою: 
                | "А воно того варте?" Ми знаємо, що життя буває жорстоким, ми теж! З нами 
                | лікування перетворюється на захоплюючу пригоду на межі абсурду.
        .about__inner.list 
            img(src="img/about_icon2.png", class="about__img list__img", alt="")
            h3.about__header.list__header.title Наша візія
            p.about__text.list__text У нашому центрі ми не просто лікуємо – ми 
                | показуємо, що життя та здоров'я потребують витримки, сліз та страждань. 
                | Ваш діагноз стане приводом для нічних кошмарів, а одужання&nbsp;– результат 
                | нашого безжального професіоналізму.
        a(href="#slider" class="about__btn text-shadow") Нижче ви можете побачити фотографії нашого корпоративного мерчу