section.advertising 
    .container.block.advertising__wrapper
        .advertising__inner 
            img(src="img/advertising_icon.png", class="advertising__img", alt="")
            h3.advertising__header Рекламна пропозиція!
            p.advertising__text У нас є “яблука” не лише для краси, а й для здоров'я! 
                | З'їжте наше фірмове яблуко, і вже за кілька хвилин відчуєте приплив сил і 
                | бадьорості, як після кави вранці! Відчуття можна порівняти, як після огірка 
                | з молоком на пустий шлунок&nbsp;:-)