footer.footer
    .footer__wrapper
        img(src="img/footer_logo.svg", alt="", class="footer__logo", loading="lazy")
        p.footer__text.white-color  Україна, вулиця Наливай-Чухинського 42, 2-й поверх, 
            | реєстраційний номер 82837782732, ліцензія №91929