section.promo 
    .container.block.promo__wrapper 
        .promo__inner.shadow 
            h1.promo__title.title Ласкаво просимо до нашого медичного&nbsp;центру!
            p.promo__text У нас все як у казці: лікарі чарівники, ліки 
                | дивовижні, а результати завжди чудові! Захворіли? Не біда!  
        button.promo__btn.btn.widget-show.text-shadow Онлайн допомога 
        button.fixed__btn.widget-show