section.slider#slider 
    .slider__wrapper
        .slider__inner
            figure.slider__item
                img(src="img/slide_img.jpg", class="slider__img" alt="")
                figcaption.slider__caption 
                    h4.slider__header Паперова продукція
                    p.slider__text Записники, папки, журнали, зошити, календарі
            figure.slider__item
                img(src="img/slide_img2.png", class="slider__img" alt="")
                figcaption.slider__caption 
                    h4.slider__header Картонні вироби
                    p.slider__text Пакети, в яких ви зможете винести нашу продукцію на люди і вам не буде&nbsp;соромно
            figure.slider__item
                img(src="img/slide_img3.jpg", class="slider__img" alt="")
                figcaption.slider__caption 
                    h4.slider__header Вироби з тканини
                    p.slider__text Футболки, бейсболки, толстовки, бананки, нашивки, навіть спідня&nbsp;білизна!
        .arrow.arrow__left 
            <svg width="108" height="37" viewBox="0 0 108 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_36_149)">
                    <path d="M100.6 11.8499L13.0001 11.8499L20.7001 4.2499C21.7001 3.2499 21.7001 1.6499 20.7001 0.749901C19.7001 -0.250099 18.1001 -0.250099 17.2001 0.749901L4.3001 13.7499C3.9001 14.1499 3.9001 14.7499 4.3001 15.1499L17.2001 28.1499C18.2001 29.1499 19.8001 29.1499 20.7001 28.1499C21.7001 27.1499 21.7001 25.5499 20.7001 24.6499L13.0001 17.0499L100.6 17.0499C102 17.0499 103.1 15.9499 103.1 14.5499C103.1 12.9499 102 11.8499 100.6 11.8499Z" fill="white"/>
                </g>
                <defs>
                    <filter id="filter0_d_36_149" x="0" y="0" width="107.1" height="36.8999" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="4"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_36_149"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_36_149" result="shape"/>
                    </filter>
                </defs>
            </svg>
        .arrow.arrow__right
            <svg width="108" height="37" viewBox="0 0 108 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_36_148)">
                    <path d="M6.5 17.05H94.1L86.4 24.65C85.4 25.65 85.4 27.25 86.4 28.15C87.4 29.15 89 29.15 89.9 28.15L102.8 15.15C103.2 14.75 103.2 14.15 102.8 13.75L89.9 0.75C88.9 -0.25 87.3 -0.25 86.4 0.75C85.4 1.75 85.4 3.35 86.4 4.25L94.1 11.85H6.5C5.1 11.85 4 12.95 4 14.35C4 15.95 5.1 17.05 6.5 17.05Z" fill="white"/>
                </g>
                <defs>
                    <filter id="filter0_d_36_148" x="0" y="0" width="107.1" height="36.8999" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="4"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_36_148"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_36_148" result="shape"/>
                    </filter>
                </defs>
            </svg>