body {
  font-family: $main-font;
  font-size: 16px;
  color: #000;
  line-height: 1;
  text-shadow: 0 4px 4px rgba($color: #000000, $alpha: .25);
}
html{
  overflow-x: hidden;
}
img {
  display: block;
  max-width: 100%;
}

svg {
  overflow: hidden;
}

button {
  display: block;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  @include rm(480) {
    width: 480px;
  }

  @include rm(640) {
    width: 640px;
  }

  @include rm(768) {
    width: 768px;
    padding-left: 25px;
    padding-right: 25px;
  }

  @include rm(1024) {
    width: 1024px;
  }

  @include rm(1250) {
    width: 1250px;
  }
}

.title {
  font-size: 30px;
  color: $title-color;
  font-family: $title-font;
  line-height: 1;
  text-align: center;

  @include rm(480) {
    font-size: 32px;
  }

  @include rm(640) {
    font-size: 34px;
  }

  @include rm(768) {
    font-size: 36px;
  }

  @include rm(1024) {
    font-size: 38px;
  }

  @include rm(1250) {
    font-size: 40px;
  }
}

.text-color {
  color: $title-color;
}

.white-color {
  color: $white-color;
}

.text-color {
  color: $text-color;
}

.text-shadow {
  text-shadow: 0 4px 4px rgba($color: #000000, $alpha: .25);
}

.btn {
  width: 210px;
  background: #0B61A8;
  box-shadow: 0 4px 4px rgba($color: #000000, $alpha: .25);
  font-size: 20px;
  font-family: $text-font;
  color: $white-color;
  padding: 18px 21px;
  transition: .3s;

  &:hover {
    box-shadow: 0 2px 2px rgba($color: #000000, $alpha: .25);
    background: #053963;
  }
}