$main-font: "Inter", Arial, Helvetica, sans-serif;
$title-font: 'Rubik', Arial, Helvetica, sans-serif;
$form-font: 'Poppins', Arial, Helvetica, sans-serif;
$text-font: 'Marmelad', Arial, Helvetica, sans-serif;

$title-color: #1E1E1E;
$text-color: #333;
$white-color: #fff;
$question-bg: #C3DAFA;
$answer-bg: #97C2F8;